<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HZSwiftUIKIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EC1B311DC72DE5006F72A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EC1B451DC72DE5006F72A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EC1B501DC72DE6006F72A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
